<!DOCTYPE html>
<html lang="en">
<head>
  <title>Update</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <style>
  body{
    background-image:url("updatewala1.jpg");
    padding: 0;
    margin: 0;
  }
  h1{
    text-align: center;
    background-color: black;
  }
  </style>
</head>
<body>
<div class="container">
  <h1 style="color: white">Updation Form For <%= profileData.name %> </h1>
  <br><br>
  <form class="form-horizontal" action="/updated" method="post">
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="email" placeholder="Enter Name" name="name2">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Mobile:</label>
      <div class="col-sm-10">          
        <input type="text" class="form-control" id="mobile" placeholder="Enter Mobile_No" name="mobile2">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="emailaddress2">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password2">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd"> Retype Password:</label>
      <div class="col-sm-10">          
        <input type="password" class="form-control" id="pwd" placeholder="Renter password">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd"> Photo:</label>
      <div class="col-sm-10">          
        <input type="file" class="form-control" id="pwd" placeholder="Upload Picture" name="source">
      </div>
    </div>
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>
</body>
</html>